[user]
	name = Ethan Miller  - Development Server
	email = ethanzanemiller@gmail.com
[alias]
	st = status
	co = checkout
	ci = commit
	mr = merge
	di = diff
	cm = !git add -A && git commit -m
	save = !git add -A && git commit -m 'SAVEPOINT'
	wipe = !git add -A && git commit -qm 'WIPE SAVEPOINT' && git reset HEAD~1 --hard
	fullmr = "!f() { echo 'Merging changes '${1-develop}' --> '${2-master}' --> '${3-production}; \
		      git co ${2-master}; git mr ${1-develop}; git co ${3-production}; git mr ${2-master}; git co ${1-develop}; }; f"
[push]
	default = matching
[core]
	excludesfile = /Users/ethan/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
